<div *ngIf="book" id = "contenedor">
    <div class="row">

        <div class  = "col-2">
            <img src={{book.url}}>
        </div>

        <div class = "col-6" id = "info">
            <h2> {{book.name | uppercase}}</h2>

            <div id = "info-general">
                <h3> {{book.author | uppercase}}</h3>
                <h4> $ {{book.price }} </h4>
            </div>

            <div id = "descripcion">
                <h4>Descripción:</h4>
                <h6> {{book.description}} </h6>
            </div>

            <div>

                <button type="button" class="btn btn-success" *ngIf="cookie" routerLink="/book/create" >Crear</button>
                <button type="button" class="btn btn-warning" *ngIf="cookie" routerLink="/book/edit/{{book.id}}" >Editar</button>
                <button type="button" class="btn btn-danger" *ngIf="cookie" (click)="deleteBook(book.id)">Eliminar </button>

            </div>
        </div>

    </div>
</div>